*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    position: relative;
}
.preloader{
    /* display: block; */
    visibility: visible;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #fff;
    display: grid;
    place-items: center;
    z-index: 999;
}
/* .preloader img{
    width: 100px;
} */
.preloader.hide_preloader{
    visibility: hidden;
    z-index: -999;
    /* display: none; */
}

header{
    
    position: relative;
    width: 100%;
    min-height: 100vh;
    /* display:flex; 
    justify-content: center;
    align-items: center; */
    display: grid;
    place-items:center;

   
}
/* .header-nav{
    width: 100%;
    height: 100px;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
} */
header:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000a0;
    z-index: -1;
}
.background_video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;

}
.title{
/*     
    justify-self:center;
    align-self: center; */
    z-index: 0;
    font-size: 40px;
    color:#fff;
    

}
.video-control-btn{
    position: absolute;
    top: 500px;
    left: 100px;
    background-color: transparent;
    border: none;

}
span i {
    color: #fff;
    font-size: 40px;
}
.play{
    display: none;

}
.pause{
    display: block;
}
.video-active  .play{
    display: block;
}
.video-active  .pause{
    display: none;
}